<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to my-{{ title }}!
  </h1>
  <div class="container">
    <h1>Hero Form</h1>
    <form>
      <input type="text" class="form-control" id="searchInput"
       required
      name="searchInput">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" required>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email">
      </div>

      <div class="form-group">
        <label for="primaryPhone">Primary Phone</label>
        <input id="primaryPhone"
                             type="text"
                             placeholder="Primary Phone"
                             class="form-control input-lg required"
                             name="primaryPhone"

                             size="15"
                             required>
      </div>



      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
